
@{
    ViewData["Title"] = "عدم دسترسی به این صقحه";
}

@section MetaTags
{
    <meta name="robots" content="noindex, nofollow"/>    
}

<h1 class="text-center box-container">
    شما به این صفحه دسترسی ندارید
</h1>

