USE [master]
GO
/****** Object:  Database [Portfolio_MrAmoori_DB]    Script Date: 22/04/1405 10:58:14 ب.ظ ******/
CREATE DATABASE [Portfolio_MrAmoori_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Portfolio_MrAmoori_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Portfolio_MrAmoori_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Portfolio_MrAmoori_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Portfolio_MrAmoori_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Portfolio_MrAmoori_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Portfolio_MrAmoori_DB]
GO
/****** Object:  User [mohamadreza]    Script Date: 22/04/1405 10:58:14 ب.ظ ******/
CREATE USER [mohamadreza] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[mohamadreza]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [mohamadreza]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [mohamadreza]
GO
ALTER ROLE [db_datareader] ADD MEMBER [mohamadreza]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [mohamadreza]
GO
/****** Object:  Schema [mohamadreza]    Script Date: 22/04/1405 10:58:14 ب.ظ ******/
CREATE SCHEMA [mohamadreza]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 22/04/1405 10:58:14 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 22/04/1405 10:58:14 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](20) NOT NULL,
	[Password] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Admins] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 22/04/1405 10:58:14 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 22/04/1405 10:58:14 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 22/04/1405 10:58:14 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 22/04/1405 10:58:14 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 22/04/1405 10:58:14 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 22/04/1405 10:58:14 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 22/04/1405 10:58:14 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blogs]    Script Date: 22/04/1405 10:58:14 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](400) NOT NULL,
	[Link] [nvarchar](250) NOT NULL,
	[ImagePath] [nvarchar](250) NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Blogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 22/04/1405 10:58:14 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Title] [nvarchar](80) NOT NULL,
	[Message] [nvarchar](1500) NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Contacts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personal]    Script Date: 22/04/1405 10:58:14 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personal](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](20) NOT NULL,
	[LastName] [nvarchar](20) NOT NULL,
	[Age] [int] NOT NULL,
	[Bio] [nvarchar](max) NULL,
	[Mobile] [nvarchar](15) NOT NULL,
	[Address] [nvarchar](250) NOT NULL,
	[Email] [nvarchar](70) NOT NULL,
	[Instagram] [nvarchar](100) NOT NULL,
	[Twitter] [nvarchar](100) NOT NULL,
	[Github] [nvarchar](100) NOT NULL,
	[Linkedin] [nvarchar](100) NOT NULL,
	[Telegram] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Personal] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Portfolios]    Script Date: 22/04/1405 10:58:14 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Portfolios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ImagePath] [nvarchar](100) NOT NULL,
	[Link] [nvarchar](500) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Portfolios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 22/04/1405 10:58:14 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Decription] [nvarchar](150) NOT NULL,
	[ClassIcon] [nvarchar](50) NULL,
 CONSTRAINT [PK_Services] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Skills]    Script Date: 22/04/1405 10:58:14 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skills](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Percentage] [int] NOT NULL,
 CONSTRAINT [PK_Skills] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20221110140957_Init-Db', N'5.0.17')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20221111093304_UpdateMappings', N'5.0.17')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20221111100454_AddBlogTbl', N'5.0.17')
GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([Id], [UserName], [Password], [Email]) VALUES (1, N'mramoori', N'Mohamad021', N'mohamad.reza.amoori99@gmail.com')
SET IDENTITY_INSERT [dbo].[Admins] OFF
GO
SET IDENTITY_INSERT [dbo].[Blogs] ON 

INSERT [dbo].[Blogs] ([Id], [Title], [Description], [Link], [ImagePath], [CreateDate], [IsDeleted]) VALUES (2, N'دروووغ', N'ایران', N'تست لینک', N'تست', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), 1)
INSERT [dbo].[Blogs] ([Id], [Title], [Description], [Link], [ImagePath], [CreateDate], [IsDeleted]) VALUES (3, N'ایران ', N'بهترین تصویر', N'https://barnamenevisan.org/r/9003', N'https://barnamenevisan.org/ArticleFiles/ArticleImage/Image/9003_Untitled-4jpg.jpg', CAST(N'2022-11-15T13:58:39.8749588' AS DateTime2), 1)
INSERT [dbo].[Blogs] ([Id], [Title], [Description], [Link], [ImagePath], [CreateDate], [IsDeleted]) VALUES (4, N'asdasda', N'sdasd', N'asdsad', N'aa', CAST(N'2022-11-15T17:08:48.3487217' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Blogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Contacts] ON 

INSERT [dbo].[Contacts] ([Id], [Name], [Email], [Title], [Message], [CreateDate]) VALUES (1, N'محمدرضا عموری', N'mohamad.reza.amoori99@gmail.com', N'تشکر از سایت', N'با سلام
این اولین پیام رسمی است.
موفق باشید . . . ♥', CAST(N'2022-11-20T14:54:14.5870808' AS DateTime2))
INSERT [dbo].[Contacts] ([Id], [Name], [Email], [Title], [Message], [CreateDate]) VALUES (4, N'درخواست Ip سیستم مدرسه', N'hasdhas@ms.com', N'IP', N'Hello mr', CAST(N'2022-12-17T10:42:44.8847906' AS DateTime2))
INSERT [dbo].[Contacts] ([Id], [Name], [Email], [Title], [Message], [CreateDate]) VALUES (7, N'علی', N'ali.g39834@gmail.com', N'سلام', N'[Object object]', CAST(N'2023-03-14T23:33:39.7856684' AS DateTime2))
INSERT [dbo].[Contacts] ([Id], [Name], [Email], [Title], [Message], [CreateDate]) VALUES (21, N'Don Hunt', N'amplify@busihelp.xyz', N'Get Tons Of The HIGHEST Quality Traffic…', N'Hey,

If you want to turn Amazon into your own personal ATM...

This email will make your day…

Here’s the kicker:

There’s a way you can exploit Amazon’s Reviews System to drive massive profits hands-free.

Venkata and his team were successful in developing and releasing an intriguing (and I have to say, UNIQUE) app that is able to "hack" this Reviews System...

And literally force Amazon to send 20,000 Buyer Clicks in mere minutes…

It is a completely LEGAL method that complies with Amazon''s TOS and will not land you in trouble.

=> Click here to grab the Amplify app now: https://www.busihelp.xyz/amplify 

A few things about this ingenious app…

You can get it to run in 2 simple steps…
Create automated AI Animated Review Videos on autopilot…
Make passive commissions, every day…
Never worry about getting targeted traffic ever again…
It works in ANY niche…
Enjoy $965.43 paydays…
No need to buy hosting or domains…
It’s INSANELY lucrative…
100% LEGAL…
Unique approach, never seen before…
And much more…

=> Click here to get on board now: https://www.busihelp.xyz/amplify 

Take advantage of this great chance to get into a TRILLION DOLLAR market that is growing every day...

And take YOUR cut so you can finally begin making a fortune on the internet without putting in much effort...


Talk soon,

Don Hunt


UNSUBSCRIBE: https://www.busihelp.xyz/unsubscribe 
Address: 10 Wall St, Asheville, NC 28801', CAST(N'2024-01-26T03:24:40.5560971' AS DateTime2))
INSERT [dbo].[Contacts] ([Id], [Name], [Email], [Title], [Message], [CreateDate]) VALUES (26, N'James Broyles', N'amplify@earnmorenow.info', N'Amazon Wants To Send You $965.43 Every Day', N'Hey,

If you want to turn Amazon into your own personal ATM...

This email will make your day…

Here’s the kicker:

There’s a way you can exploit Amazon’s Reviews System to drive massive profits hands-free.

Venkata and his team were successful in developing and releasing an intriguing (and I have to say, UNIQUE) app that is able to "hack" this Reviews System...

And literally force Amazon to send 20,000 Buyer Clicks in mere minutes…

It is a completely LEGAL method that complies with Amazon''s TOS and will not land you in trouble.

=> Click here to grab the Amplify app now: https://www.earnmorenow.info/amplify 

A few things about this ingenious app…

You can get it to run in 2 simple steps…
Create automated AI Animated Review Videos on autopilot…
Make passive commissions, every day…
Never worry about getting targeted traffic ever again…
It works in ANY niche…
Enjoy $965.43 paydays…
No need to buy hosting or domains…
It’s INSANELY lucrative…
100% LEGAL…
Unique approach, never seen before…
And much more…

=> Click here to get on board now: https://www.earnmorenow.info/amplify 

Take advantage of this great chance to get into a TRILLION DOLLAR market that is growing every day...

And take YOUR cut so you can finally begin making a fortune on the internet without putting in much effort...


Talk soon,

James Broyles


UNSUBSCRIBE: https://www.earnmorenow.info/unsubscribe 
Address: 111 Black Mountain Ave, Black Mountain, NC 28711', CAST(N'2024-02-05T03:56:26.9793454' AS DateTime2))
INSERT [dbo].[Contacts] ([Id], [Name], [Email], [Title], [Message], [CreateDate]) VALUES (75, N'Rana', N'socialmedia1145@outlook.com', N'Social Media Management', N'Hi, This is Rana. I''m reaching out to offer my expertise in social media management, including strategic calendar planning, captivating post creation as per your business, e-commerce product promotion, SEO-friendly social media captions, and design services such as brochures, posters, and flyers tailored to enhance your brand''s social media presence and engage your audience effectively. 

My rate is USD 20 per hour. I can provide you a fixed quote as per your requirements. 

Drop me an email at socialmedia1145@outlook.com to discuss it further.














', CAST(N'2024-04-05T04:42:52.0179250' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Contacts] OFF
GO
SET IDENTITY_INSERT [dbo].[Personal] ON 

SET IDENTITY_INSERT [dbo].[Personal] OFF
GO
SET IDENTITY_INSERT [dbo].[Portfolios] ON 

INSERT [dbo].[Portfolios] ([Id], [ImagePath], [Link], [Title]) VALUES (6, N'https://iili.io/H9SRdep.jpg', N'https://github.com/MR-Amoori/Store_Accounting_Mobile/releases/tag/Final', N'نرم افزار حسابداری')
INSERT [dbo].[Portfolios] ([Id], [ImagePath], [Link], [Title]) VALUES (7, N'https://iili.io/H9S5wtS.png', N'https://github.com/MR-Amoori/Bot-Telegram/releases/tag/V2.0.0', N'مدیریت ربات تلگرام')
INSERT [dbo].[Portfolios] ([Id], [ImagePath], [Link], [Title]) VALUES (8, N'https://iili.io/H7SjTiB.png', N'https://minilink.top', N'سایت کوتاه کننده لینک')
SET IDENTITY_INSERT [dbo].[Portfolios] OFF
GO
SET IDENTITY_INSERT [dbo].[Services] ON 

INSERT [dbo].[Services] ([Id], [Name], [Decription], [ClassIcon]) VALUES (2, N'توسعه نرم افزار', N'توسعه و برنامه نویسی نرم افزار های تحت وب، دسکتاپ و موبایل با سعی بر پیاده سازی بهینه ترین الگوی های طراحی.', N'fas fa-code')
INSERT [dbo].[Services] ([Id], [Name], [Decription], [ClassIcon]) VALUES (3, N'طراحی گرافیک', N'یکی دیگه از مهارت های من در زمینه طراحی های گرافیکی است که با نرم افزار های فتوشاپ، ایلاستریتور و این چنین ها به انجام آن می پردازم.', N'fas fa-paint-brush')
INSERT [dbo].[Services] ([Id], [Name], [Decription], [ClassIcon]) VALUES (4, N'سئو', N'بهینه سازی سایت برای موتورهای جستجو یکی از مهمترین نیاز برای وبسایت های فعال است.', N'fas fa-bullhorn')
SET IDENTITY_INSERT [dbo].[Services] OFF
GO
SET IDENTITY_INSERT [dbo].[Skills] ON 

INSERT [dbo].[Skills] ([Id], [Name], [Percentage]) VALUES (1, N'#C', 90)
INSERT [dbo].[Skills] ([Id], [Name], [Percentage]) VALUES (2, N'Asp.Net MVC', 95)
INSERT [dbo].[Skills] ([Id], [Name], [Percentage]) VALUES (3, N'Asp.Net Core', 90)
SET IDENTITY_INSERT [dbo].[Skills] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 22/04/1405 10:58:14 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 22/04/1405 10:58:14 ب.ظ ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 22/04/1405 10:58:14 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 22/04/1405 10:58:14 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 22/04/1405 10:58:14 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 22/04/1405 10:58:14 ب.ظ ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 22/04/1405 10:58:14 ب.ظ ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Blogs] ADD  DEFAULT (CONVERT([bit],(0),(0))) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Contacts] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CreateDate]
GO
ALTER TABLE [dbo].[Personal] ADD  DEFAULT (N'محمدرضا') FOR [FirstName]
GO
ALTER TABLE [dbo].[Personal] ADD  DEFAULT (N'عموری') FOR [LastName]
GO
ALTER TABLE [dbo].[Personal] ADD  DEFAULT ((18)) FOR [Age]
GO
ALTER TABLE [dbo].[Personal] ADD  DEFAULT (N'+989035170373') FOR [Mobile]
GO
ALTER TABLE [dbo].[Personal] ADD  DEFAULT (N'خرمشهر') FOR [Address]
GO
ALTER TABLE [dbo].[Personal] ADD  DEFAULT (N'mohamad.reza.amoori99@gmail.com') FOR [Email]
GO
ALTER TABLE [dbo].[Personal] ADD  DEFAULT (N'MR__Amoori') FOR [Instagram]
GO
ALTER TABLE [dbo].[Personal] ADD  DEFAULT (N'mr__amoori') FOR [Twitter]
GO
ALTER TABLE [dbo].[Personal] ADD  DEFAULT (N'MR-Amoori') FOR [Github]
GO
ALTER TABLE [dbo].[Personal] ADD  DEFAULT (N'mohamadreza-amoori-967ab8224') FOR [Linkedin]
GO
ALTER TABLE [dbo].[Personal] ADD  DEFAULT (N'Doitik') FOR [Telegram]
GO
ALTER TABLE [dbo].[Portfolios] ADD  CONSTRAINT [DF__Portfolio__Image__24927208]  DEFAULT (N'') FOR [ImagePath]
GO
ALTER TABLE [dbo].[Portfolios] ADD  CONSTRAINT [DF__Portfolio__Title__300424B4]  DEFAULT (N'') FOR [Title]
GO
ALTER TABLE [dbo].[Skills] ADD  DEFAULT ((0)) FOR [Percentage]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
USE [master]
GO
