USE [master]
GO
/****** Object:  Database [Portfolio_MrAmoori_DB]    Script Date: 11/19/2022 16:42:07 ******/
CREATE DATABASE [Portfolio_MrAmoori_DB] ON  PRIMARY 
( NAME = N'Portfolio_MrAmoori_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Portfolio_MrAmoori_DB.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Portfolio_MrAmoori_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Portfolio_MrAmoori_DB_log.LDF' , SIZE = 768KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Portfolio_MrAmoori_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Portfolio_MrAmoori_DB]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 11/19/2022 16:42:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](20) NOT NULL,
	[Password] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Admins] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 11/19/2022 16:42:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20221110140957_Init-Db', N'5.0.17')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20221111093304_UpdateMappings', N'5.0.17')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20221111100454_AddBlogTbl', N'5.0.17')
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 11/19/2022 16:42:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers] 
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers] 
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 11/19/2022 16:42:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles] 
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Skills]    Script Date: 11/19/2022 16:42:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skills](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Percentage] [int] NOT NULL,
 CONSTRAINT [PK_Skills] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Skills] ON
INSERT [dbo].[Skills] ([Id], [Name], [Percentage]) VALUES (1, N'#C', 90)
INSERT [dbo].[Skills] ([Id], [Name], [Percentage]) VALUES (2, N'Asp.Net MVC', 95)
INSERT [dbo].[Skills] ([Id], [Name], [Percentage]) VALUES (3, N'Asp.Net Core', 90)
SET IDENTITY_INSERT [dbo].[Skills] OFF
/****** Object:  Table [dbo].[Services]    Script Date: 11/19/2022 16:42:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Decription] [nvarchar](150) NOT NULL,
	[ClassIcon] [nvarchar](50) NULL,
 CONSTRAINT [PK_Services] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Services] ON
INSERT [dbo].[Services] ([Id], [Name], [Decription], [ClassIcon]) VALUES (2, N'توسعه نرم افزار', N'توسعه و برنامه نویسی نرم افزار های تحت وب، دسکتاپ و موبایل با سعی بر پیاده سازی بهینه ترین الگوی های طراحی.', N'fas fa-code')
INSERT [dbo].[Services] ([Id], [Name], [Decription], [ClassIcon]) VALUES (3, N'طراحی گرافیک', N'یکی دیگه از مهارت های من در زمینه طراحی های گرافیکی است که با نرم افزار های فتوشاپ، ایلاستریتور و... به انجام آن می پردازم.', N'fas fa-paint-brush')
INSERT [dbo].[Services] ([Id], [Name], [Decription], [ClassIcon]) VALUES (4, N'سئو', N'بهینه سازی سایت برای موتورهای جستجو یکی از مهمترین نیاز برای وبسایت های فعال است.', N'fas fa-bullhorn')
SET IDENTITY_INSERT [dbo].[Services] OFF
/****** Object:  Table [dbo].[Portfolios]    Script Date: 11/19/2022 16:42:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Portfolios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ImagePath] [nvarchar](100) NOT NULL,
	[Link] [nvarchar](500) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Portfolios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Portfolios] ON
INSERT [dbo].[Portfolios] ([Id], [ImagePath], [Link], [Title]) VALUES (6, N'https://iili.io/H9SRdep.jpg', N'https://github.com/MR-Amoori/Store_Accounting_Mobile/releases/tag/Final', N'نرم افزار حسابداری')
INSERT [dbo].[Portfolios] ([Id], [ImagePath], [Link], [Title]) VALUES (7, N'https://iili.io/H9S5wtS.png', N'https://github.com/MR-Amoori/Bot-Telegram/releases/tag/V2.0.0', N'مدیریت ربات تلگرام')
INSERT [dbo].[Portfolios] ([Id], [ImagePath], [Link], [Title]) VALUES (8, N'https://iili.io/H9S5Oo7.png', N'https://github.com/MR-Amoori/Store-Accounting', N'مدیریت مشتریان و محصولات')
SET IDENTITY_INSERT [dbo].[Portfolios] OFF
/****** Object:  Table [dbo].[Personal]    Script Date: 11/19/2022 16:42:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personal](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](20) NOT NULL,
	[LastName] [nvarchar](20) NOT NULL,
	[Age] [int] NOT NULL,
	[Bio] [nvarchar](2000) NOT NULL,
	[Mobile] [nvarchar](15) NOT NULL,
	[Address] [nvarchar](250) NOT NULL,
	[Email] [nvarchar](70) NOT NULL,
	[Instagram] [nvarchar](100) NOT NULL,
	[Twitter] [nvarchar](100) NOT NULL,
	[Github] [nvarchar](100) NOT NULL,
	[Linkedin] [nvarchar](100) NOT NULL,
	[Telegram] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Personal] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Personal] ON
SET IDENTITY_INSERT [dbo].[Personal] OFF
/****** Object:  Table [dbo].[Contacts]    Script Date: 11/19/2022 16:42:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Title] [nvarchar](80) NOT NULL,
	[Message] [nvarchar](1500) NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Contacts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blogs]    Script Date: 11/19/2022 16:42:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](400) NOT NULL,
	[Link] [nvarchar](250) NOT NULL,
	[ImagePath] [nvarchar](250) NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Blogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Blogs] ON
INSERT [dbo].[Blogs] ([Id], [Title], [Description], [Link], [ImagePath], [CreateDate], [IsDeleted]) VALUES (2, N'دروووغ', N'ایران', N'تست لینک', N'تست', CAST(0x070000000000000000 AS DateTime2), 1)
INSERT [dbo].[Blogs] ([Id], [Title], [Description], [Link], [ImagePath], [CreateDate], [IsDeleted]) VALUES (3, N'ایران ', N'بهترین تصویر', N'https://barnamenevisan.org/r/9003', N'https://barnamenevisan.org/ArticleFiles/ArticleImage/Image/9003_Untitled-4jpg.jpg', CAST(0x079493FB2875A9440B AS DateTime2), 1)
INSERT [dbo].[Blogs] ([Id], [Title], [Description], [Link], [ImagePath], [CreateDate], [IsDeleted]) VALUES (4, N'asdasda', N'sdasd', N'asdsad', N'aa', CAST(0x07F185F6B88FA9440B AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Blogs] OFF
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 11/19/2022 16:42:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 11/19/2022 16:42:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims] 
(
	[RoleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 11/19/2022 16:42:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles] 
(
	[RoleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 11/19/2022 16:42:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins] 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 11/19/2022 16:42:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims] 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Default [DF__Skills__Percenta__2C3393D0]    Script Date: 11/19/2022 16:42:07 ******/
ALTER TABLE [dbo].[Skills] ADD  DEFAULT ((0)) FOR [Percentage]
GO
/****** Object:  Default [DF__Portfolio__Image__24927208]    Script Date: 11/19/2022 16:42:07 ******/
ALTER TABLE [dbo].[Portfolios] ADD  CONSTRAINT [DF__Portfolio__Image__24927208]  DEFAULT (N'') FOR [ImagePath]
GO
/****** Object:  Default [DF__Portfolio__Title__300424B4]    Script Date: 11/19/2022 16:42:07 ******/
ALTER TABLE [dbo].[Portfolios] ADD  CONSTRAINT [DF__Portfolio__Title__300424B4]  DEFAULT (N'') FOR [Title]
GO
/****** Object:  Default [DF__Personal__FirstN__014935CB]    Script Date: 11/19/2022 16:42:07 ******/
ALTER TABLE [dbo].[Personal] ADD  DEFAULT (N'محمدرضا') FOR [FirstName]
GO
/****** Object:  Default [DF__Personal__LastNa__023D5A04]    Script Date: 11/19/2022 16:42:07 ******/
ALTER TABLE [dbo].[Personal] ADD  DEFAULT (N'عموری') FOR [LastName]
GO
/****** Object:  Default [DF__Personal__Age__03317E3D]    Script Date: 11/19/2022 16:42:07 ******/
ALTER TABLE [dbo].[Personal] ADD  DEFAULT ((18)) FOR [Age]
GO
/****** Object:  Default [DF__Personal__Mobile__0425A276]    Script Date: 11/19/2022 16:42:07 ******/
ALTER TABLE [dbo].[Personal] ADD  DEFAULT (N'+989035170373') FOR [Mobile]
GO
/****** Object:  Default [DF__Personal__Addres__0519C6AF]    Script Date: 11/19/2022 16:42:07 ******/
ALTER TABLE [dbo].[Personal] ADD  DEFAULT (N'خرمشهر') FOR [Address]
GO
/****** Object:  Default [DF__Personal__Email__060DEAE8]    Script Date: 11/19/2022 16:42:07 ******/
ALTER TABLE [dbo].[Personal] ADD  DEFAULT (N'mohamad.reza.amoori99@gmail.com') FOR [Email]
GO
/****** Object:  Default [DF__Personal__Instag__07020F21]    Script Date: 11/19/2022 16:42:07 ******/
ALTER TABLE [dbo].[Personal] ADD  DEFAULT (N'MR__Amoori') FOR [Instagram]
GO
/****** Object:  Default [DF__Personal__Twitte__07F6335A]    Script Date: 11/19/2022 16:42:07 ******/
ALTER TABLE [dbo].[Personal] ADD  DEFAULT (N'mr__amoori') FOR [Twitter]
GO
/****** Object:  Default [DF__Personal__Github__08EA5793]    Script Date: 11/19/2022 16:42:07 ******/
ALTER TABLE [dbo].[Personal] ADD  DEFAULT (N'MR-Amoori') FOR [Github]
GO
/****** Object:  Default [DF__Personal__Linked__09DE7BCC]    Script Date: 11/19/2022 16:42:07 ******/
ALTER TABLE [dbo].[Personal] ADD  DEFAULT (N'mohamadreza-amoori-967ab8224') FOR [Linkedin]
GO
/****** Object:  Default [DF__Personal__Telegr__0AD2A005]    Script Date: 11/19/2022 16:42:07 ******/
ALTER TABLE [dbo].[Personal] ADD  DEFAULT (N'Doitik') FOR [Telegram]
GO
/****** Object:  Default [DF__Contacts__Create__35BCFE0A]    Script Date: 11/19/2022 16:42:07 ******/
ALTER TABLE [dbo].[Contacts] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CreateDate]
GO
/****** Object:  Default [DF__Blogs__IsDeleted__276EDEB3]    Script Date: 11/19/2022 16:42:07 ******/
ALTER TABLE [dbo].[Blogs] ADD  DEFAULT (CONVERT([bit],(0),0)) FOR [IsDeleted]
GO
/****** Object:  ForeignKey [FK_AspNetUserTokens_AspNetUsers_UserId]    Script Date: 11/19/2022 16:42:07 ******/
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
/****** Object:  ForeignKey [FK_AspNetRoleClaims_AspNetRoles_RoleId]    Script Date: 11/19/2022 16:42:07 ******/
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
/****** Object:  ForeignKey [FK_AspNetUserRoles_AspNetRoles_RoleId]    Script Date: 11/19/2022 16:42:07 ******/
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
/****** Object:  ForeignKey [FK_AspNetUserRoles_AspNetUsers_UserId]    Script Date: 11/19/2022 16:42:07 ******/
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
/****** Object:  ForeignKey [FK_AspNetUserLogins_AspNetUsers_UserId]    Script Date: 11/19/2022 16:42:07 ******/
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
/****** Object:  ForeignKey [FK_AspNetUserClaims_AspNetUsers_UserId]    Script Date: 11/19/2022 16:42:07 ******/
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
