@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@*@ViewData["Title"]*@ سایت شخصی محمدرضا عموری </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="~/css/style.css">

</head>
<body>

@RenderBody()


<div class="footer">
    تمامی حقوق مادی و معنوی این سایت متعلق به
    <span>
        <a href="@Url.ActionLink("Index", "Home")" target="_blank"> محمدرضا عموری </a>
    </span> می باشد
</div>

<!-- javascript part  -->

<script src="~/js/typed.js.js"></script>
<script src="js/particles.min.js"></script>
<script src="js/app.js"></script>
<script src="~/js/vanilla-tilt.js"></script>

@await RenderSectionAsync("Scripts", required: false)

</body>
</html>